<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>ChessGameServiceImpl</servlet-name>
		<servlet-class>hu.mygame.server.rpc.ChessGameServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChessGameServiceImpl</servlet-name>
		<url-pattern>/mygame/chessGame</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChannelConnectedServlet</servlet-name>
		<servlet-class>hu.mygame.server.servlet.ChannelConnectedServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChannelConnectedServlet</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChannelDisconnectedServlet</servlet-name>
		<servlet-class>hu.mygame.server.servlet.ChannelDisconnectedServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ChannelDisconnectedServlet</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Mygame.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
